<a href="https://colab.research.google.com/github/Saifullah785/doing-math-with-python-notes/blob/main/Chapter_1%3A_Working_with_Numbers/Chapter_1__Working_with_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Mathematical Operations**

- subtract numbers using the addition (+) and substraction (-) operators for example:

In [101]:
# Perform basic addition of two integers
1+2

3

In [102]:
# Perform basic addition of an integer and a float
1+3.5

4.5

In [103]:
# Perform basic addition of a negative integer and a float
-1 + 2.5

1.5

In [104]:
# Perform basic subtraction of two integers
100 - 45

55

In [105]:
# Perform basic addition of a negative float and an integer
-1.1 + 5

3.9

In [106]:
# Perform basic multiplication of two integers
3 * 2

6

- To multiply, use the multiplication (*) operator:

In [107]:
# Perform basic multiplication of two floats
3.5 * 1.5

5.25

In [108]:
# Perform basic multiplication of two floats
3.5 * 1.5

5.25

- To divide, use the division (/) operator:

In [109]:
# Perform basic division of two integers resulting in a float
3 / 2

1.5

In [110]:
# Perform basic division of two integers resulting in a float
4 / 2

2.0

- floor division (//) operator:

In [111]:
# Perform floor division of two integers (discards the fractional part)
3 // 2

1

In [112]:
# Perform floor division of a negative integer and a positive integer
-3 // 2

-2

In [113]:
# Perform modulo operation (returns the remainder of the division)
9 % 2

1

In [114]:
# Perform exponentiation (2 raised to the power of 2)
2 ** 2

4

In [115]:
# Perform exponentiation (2 raised to the power of 10)
2 ** 10

1024

In [116]:
# Perform exponentiation (1 raised to the power of 10)
1 **10

1

In [117]:
# Calculate the cube root of 8 using exponentiation
8 ** (1/3)

2.0

In [118]:
# Demonstrate order of operations (multiplication before addition)
5 + 5 * 5

30

In [119]:
# Demonstrate order of operations with parentheses (addition before multiplication)
(5 + 5) * 5

50

# **Label: Attaching Names to Numbers**

In [120]:
# Assign an integer value to a variable 'a' and then perform addition
a = 3

a + 1

4

In [121]:
# Reassign an integer value to variable 'a' and perform addition
a = 5

a + 1

6

# **Different Kinds of Numbers**

In [122]:
# Check the data type of an integer
type (3)

int

In [123]:
# Check the data type of a float
type(3.5)

float

In [124]:
# Check the data type of a float
type(3.0)

float

In [125]:
# Convert a float to an integer (truncates the decimal part)
int(3.8)

3

In [126]:
# Convert a float to an integer
int(3.0)

3

In [127]:
# Convert an integer to a float
float(3)

3.0

# **Working with Fractions**

In [128]:
# Import the Fraction class and create a Fraction object
from fractions import Fraction

f = Fraction(3, 4)
f

Fraction(3, 4)

In [129]:
# Perform addition with a Fraction, an integer, and a float (result is float)
Fraction (3, 4) + 1 + 1.5

3.25

In [130]:
# Perform addition with Fractions and an integer (result is a Fraction)
Fraction (3, 4) + 1 + Fraction (1/4)

Fraction(2, 1)

# **Complex Numbers**

In [131]:
# Create a complex number and check its data type
a = 2 + 3j
type (a)

complex

In [132]:
# Create a complex number using the complex() constructor
a = complex(2, 3)
a

(2+3j)

In [133]:
# Perform addition and subtraction of complex numbers
b = 3 + 3j
a + b
a - b

(-1+0j)

In [134]:
# Perform multiplication and division of complex numbers
a * b

a / b

(0.8333333333333334+0.16666666666666666j)

In [135]:
# Access the real and imaginary parts of a complex number
z = 2 + 3j
z.real

z.imag

3.0

In [136]:
# Get the conjugate of a complex number
z.conjugate()

(2-3j)

In [137]:
# Calculate the magnitude of a complex number using the Pythagorean theorem
(z.real ** 2 + z.imag ** 2) ** 0.5

3.605551275463989

In [138]:
# Calculate the magnitude of a complex number using the abs() function
abs(z)

3.605551275463989

# **Getting User Input**

In [139]:
# Get user input from the console
a = input()

1

In [140]:
# Display the variable 'a' which holds the user input as a string
a

'1'

In [141]:
# Assign string values to variables
s1 = 'a string'
s2 = "a string"

In [142]:
# Convert a string to an integer and perform addition
a = '1'
int(a) + 1

2

In [143]:
# Convert a string to a float and perform addition
float(a) + 1

2.0

In [144]:
# Attempt to convert a string representation of a float to an integer (will cause a ValueError)
int('2.0')

ValueError: invalid literal for int() with base 10: '2.0'

In [145]:
# Attempt to convert user input (which is a string) to a float (will cause a ValueError for non-float input)
a = float(input())

1

# **Handling Exceptions and Invalid Input**

In [146]:
# Use a try-except block to handle ValueError when converting user input to float
try:
    a = float(input('Enter a number: '))
except ValueError:
    print('You entered an invalid number')

Enter a number: 34

In [147]:
# Get integer input from the user
a = input('Input an integer:')

Input an integer:4

In [148]:
# Get integer input from the user and perform addition
a = int(input())
a + 1

2

3

In [149]:
# Attempt to convert user input (which is a string) to an integer (will cause a ValueError for non-integer input)
a = int(input())

2

In [150]:
# Check if a float has an integer value
1.1.is_integer()

False

In [151]:
# Check if a float has an integer value
1.0.is_integer()

True

# **Fractions and Complex Numbers as Input**

In [155]:
# Get user input as a string and convert it to a Fraction object
a = Fraction(input('Enter a fraction: '))
a

Enter a fraction: 3/4

Fraction(3, 4)

In [156]:
# Attempt to create a Fraction with a denominator of zero (will cause a ZeroDivisionError)
a = Fraction(input('Enter a fraction: '))

Enter a fraction: 3/0

ZeroDivisionError: Fraction(3, 0)

In [157]:
# Use a try-except block to handle ZeroDivisionError when creating a Fraction
try:
    a = Fraction(input('Enter a fraction: '))
except ZeroDivisionError:
    print('Invalid fraction')

Enter a fraction: 3/0
Invalid fraction

In [158]:
# Get user input as a string and convert it to a complex number
z = complex(input('Enter a complex number: '))

z

Enter a complex number: 2+4j

(2+4j)

In [159]:
# Attempt to convert a string with spaces to a complex number (will cause a ValueError)
z = complex(input('Enter a complex number: '))

Enter a complex number: 3 + 3j

ValueError: complex() arg is a malformed string

# **Writing Programs That do the math for you**

In [163]:
# Define a function to check if 'a' is a factor of 'b'
def is_factor(a, b):
  if b % a == 0:
    return True

  else:
    return False

In [164]:
# Call the is_factor function with example values
is_factor(4, 1024)

True

In [165]:
# Loop through a range of numbers (1 to 3) and print each number
for i in range (1, 4):
  print(i)

1
2
3

In [166]:
# Loop through a range of numbers (0 to 4) and print each number
for i in range(5):
  print(i)

0
1
2
3
4

In [167]:
# Loop through a range of numbers with a step (1 to 9, stepping by 2) and print each number
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [168]:
'''
Find the factors of an integer
'''

# Define a function to find and print the factors of an integer
def factor(b):
  for i in range(1, b+1):
    if b % i == 0:
      print(i)


# Main execution block
if __name__ == '__main__':
  b = input('Your Number Please: ')
  b = float(b) # Convert input to float
  # Check if the number is positive and an integer before finding factors
  if b > 0 and b.is_integer():
    factor(int(b)) # Convert to integer before passing to factor function
  else:
    print('Please enter a positive integer')

Your Number Please: 45
1
3
5
9
15
45

**Generating Multiplication Tables**

In [169]:
# Demonstrate string formatting using the format() method
item1 = 'apples'
item2 = 'bananas'
item3 = 'grapes'
print('At the grocery store, i bought some {0} and {1} and {2}'.format(item1, item2, item3))

At the grocery store, i bought some apples and bananas and grapes

In [170]:
# Demonstrate string formatting with different number types
from numbers import Number
print('Number 1: {0} Number 2: {1} '.format(1,3.578))

Number 1: 1 Number 2: 3.578

In [171]:
'''
Multiplication table printer
'''

# Define a function to print the multiplication table for a given number
def multi_table(a):
  for i in range(1,11):
    # Format the output to show the multiplication
    print('{0} x {1} = {2}'.format(a, i , a*i))



# Main execution block
if __name__ =='__main__':
  a = input('Enter a number:')
  multi_table(float(a)) # Convert input to float before passing to multi_table function

Enter a number:12
12.0 x 1 = 12.0
12.0 x 2 = 24.0
12.0 x 3 = 36.0
12.0 x 4 = 48.0
12.0 x 5 = 60.0
12.0 x 6 = 72.0
12.0 x 7 = 84.0
12.0 x 8 = 96.0
12.0 x 9 = 108.0
12.0 x 10 = 120.0

In [172]:
# Format a float as a string with default precision
'{0}'.format(1.25456)

'1.25456'

In [173]:
# Format a float as a string with two decimal places
'{0:.2f}'.format(1.23456)

'1.23'

In [174]:
# Format a float as a string with two decimal places (demonstrates rounding)
'{0:.2f}'.format(1.25556)

'1.26'

In [175]:
# Format an integer as a string with two decimal places
'{0:.2f}'.format(1)

'1.00'

# **Converting Units of Measurement**

In [176]:
# Convert inches to meters (25.5 inches to meters)
(25.5 * 2.54)/100

0.6476999999999999

In [177]:
# Convert miles to kilometers (650 miles to kilometers)
650 * 1.609

1045.85

In [178]:
# Convert Fahrenheit to Celsius (98.6 F to C)
F = 98.6
(F - 32) * (5 / 9)

37.0

In [179]:
# Convert Celsius to Fahrenheit (37 C to F)
C = 37
C * (9 / 5) + 32

98.60000000000001

In [180]:
'''
Unit converter: Miles and Kilometers
'''
# Function to print the main menu of the unit converter
def print_menu():
  print('1. Kilometers to Miles')
  print('2. Miles to Kilometers')

# Function to convert kilometers to miles based on user input
def km_miles():
  km = float(input('Enter distance in kilometers: '))
  miles = km / 1.609
  print('Distance in miles: {0}'.format(miles))

# Function to convert miles to kilometers based on user input
def miles_km():
  miles = float(input('Enter distance in miles: '))
  km = miles * 1.609
  print('Distance in kilometers: {0}'.format(km))

# Main execution block: prints the menu and calls the appropriate conversion function based on user choice
if __name__ == '__main__':
  print_menu()
  choice = input('Which conversion would you like to do?: ')
  if choice == '1':
    km_miles()
  if choice == '2':
    miles_km()

1. Kilometers to Miles
2. Miles to Kilometers
Which conversion would you like to do?: 2
Enter distance in miles: 155
Distance in kilometers: 249.395

# **Finding the Roots of a Quadratic Equation**

In [181]:
# Perform a series of arithmetic operations and assign the result to a variable
x = 10 - 500 + 79
x

-411

In [182]:
# Calculate the roots of a quadratic equation with real roots
a = 1
b = 2
c = 1

# Calculate the discriminant
D = (b**2 - 4*a*c)**0.5
# Calculate the two roots
x_1 = (-b + D)/(2*a)
x_2 = (-b - D)/(2*a)

# Print the calculated roots
print(x_1, x_2)

-1.0 -1.0

In [183]:
'''
Quadratic Equation root calculator
'''
# Define a function to calculate and print the roots of a quadratic equation
def root(a, b, c):
  # Calculate the discriminant
  D = (b*b - 4*a*c)**0.5
  # Calculate the two roots
  x_1 = (-b + D)/(2*a)
  x_2 = (-b - D)/(2*a)
  # Print the calculated roots
  print('x1: {0}'.format(x_1))
  print('x2: {0}'.format(x_2))

# Main execution block: gets coefficients from user input and calls the root function
if __name__ == '__main__':
  a = input('Enter a: ')
  b = input('Enter b: ')
  c = input('Enter c: ')
  # Convert inputs to floats before passing to the root function
  root(float(a), float(b), float(c))

Enter a: 33
Enter b: 55
Enter c: 55
x1: (-0.8333333333333333+0.9860132971832694j)
x2: (-0.8333333333333335-0.9860132971832694j)